<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nl-BE">

<head th:include="fragments/head :: head">
    <meta charset="UTF-8">
    <title id="title">Add new movie</title>
</head>

<body>

<div th:replace="fragments/headerfooter :: header">header</div>

<form class="addMovieForm needs-validation" th:action="@{/admin/addMovie}" method="post" novalidate style="padding: 5%;">
    <h1>Add a movie:</h1>

    <div class="mb-3">
        <label for="title2" class="form-label">Title</label>
        <input type="text" class="form-control" id="title2" name="title" maxlength="50" placeholder="Title" required>
        <div class="invalid-feedback">
            Please provide a movie title.
        </div>
    </div>

    <div class="mb-3">
        <label for="director" class="form-label">Director</label>
        <input type="text" class="form-control" id="director" name="director" maxlength="50" placeholder="Director" required>
        <div class="invalid-feedback">
            Please provide an director name.
        </div>
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" name="description" id="description" maxlength="255" placeholder="Description" required></textarea>
        <div class="invalid-feedback">
            Please provide a movie description.
        </div>
    </div>

    <div class="mb-3">
        <label for="year" class="form-label">Release Year</label>
        <input type="number" class="form-control" id="year" name="year" min="1900" max="2025" placeholder="Release year" required>
        <div class="invalid-feedback">
            Please provide a release year.
        </div>
    </div>

    <div class="mb-3">
        <label for="duration" class="form-label">Duration</label>
        <input type="number" class="form-control" id="duration" name="duration" min="0" max="1000" placeholder="Duration in minutes" required>
        <div class="invalid-feedback">
            Please provide a movie duration.
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Opslaan</button>
</form>

<div th:replace="fragments/headerfooter :: footer">footer</div>
<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>