<!DOCTYPE html>
<html lang="nl-BE" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
    <meta charset="UTF-8">
    <title id="title">Catalog</title>
</head>
<body>
<div th:replace="fragments/headerfooter :: header"></div>

<main class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-center">
            <h1 class="display-4">Catalog</h1>
            <p class="lead">Explore our vast selection of movies. Click on any title to learn more about it.</p>
            <div th:if="${movies != null}">
                <section th:each="movie: ${movies}" class="list-group-item">
                    <a id="movie" th:href="@{'detail/' + ${movie.getId()}}">
                        <span id="movieTitle" th:text="${movie.getTitle()} + ' by ' + ${movie.getAuthor()}"></span>
                    </a>
                </section>
            </div>
            <div th:if="${movies == null}">
                <p>No movies are available at this moment. Please check back later.</p>
            </div>
        </div>
    </div>
</main>

<div th:replace="fragments/headerfooter :: footer"></div>
<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>
