<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nl-BE">

<head th:replace="fragments/head :: head">
    <meta charset="UTF-8">
    <title id="title">Registration</title>
</head>

<body class="bodyLogin">
    <div th:replace="fragments/headerfooter :: header"></div>

    <main class="container-fluid py-5">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h2>Create Your Account</h2>
                <p>Join our community and get access to our vast movie library. Fill in the details below to get started.</p>
                <form th:action="@{/registration}" class="form1" method="post">
                    <input class="un " name="username" type="text" placeholder="Username">
                    <input class="pass" type="password" name="password" placeholder="Password">
                    <input type="submit" class="submit" value="Create Account">
                </form>
            </div>
        </div>
    </main>

    <div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>
